*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #D3CCE3;
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); 
    
}
#quiz h2{
padding: 10px;
text-align: center;
}
.quiz-container{
    background-color: #fff;
    width: 600px;
    /* max-width: 100%; */

}
.quiz-container .quiz-header{
    padding: 2rem;
}
.quiz-container .quiz-header h2{
margin: 10px 20px;
    text-align: center;
}
.quiz-container button{
    background-color: #8e44ad;
    color: #fff;
    padding: 15px;
    width: 100%;
   border: none;
   cursor: pointer;
   transition: 1s;
}
.quiz-container button:hover{
    background-color: #4e1566;
}
.quiz-container .quiz-header ul{
    list-style: none;
}
.quiz-container .quiz-header ul li{
    padding: 5px;
}